<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Graduation"
        tools:targetApi="31">
        <activity
            android:name=".MyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".DeletePayActivity"
            android:exported="false" />
        <activity
            android:name=".CheckPayInfoActivity"
            android:exported="false" />
        <activity
            android:name=".AuthWayActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseKindOfPayActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseBankActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity2"
            android:exported="false" />
        <activity
            android:name=".SplashActivity1"
            android:exported="false" />
        <activity
            android:name=".ChooseWayOfPayActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceAgreementActivity"
            android:exported="false"
            android:label="@string/title_activity_service_agreement"
            android:theme="@style/Theme.Graduation" />
        <activity
            android:name=".PayApprovedActivity"
            android:exported="false" />
        <activity
            android:name=".PayPasswordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>