<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 앱에서 진동 알림 주기 허용 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 지문 인식 권한 -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" /> <!-- 오디오 사용 권한 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- <uses-permission android:name="android.permission.CAMERA"/> &lt;!&ndash;카메라 권한 &ndash;&gt; -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" /> <!-- 저장소 읽기 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Graduation"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".managePay.DeletePayConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".managePay.DeletePayMethodActivity"
            android:exported="false" />
        <activity
            android:name=".managePay.RegisterAccountNumberActivity"
            android:exported="false" />
        <activity
            android:name=".transfer.TransferEnterReceiverByHandActivity"
            android:exported="false" />
        <activity
            android:name=".transfer.TransferHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".splash.Splash1Activity"
            android:exported="true" />
        <activity
            android:name=".splash.Splash2Activity"
            android:exported="false" />
        <activity
            android:name=".splash.SplashSoundActivity"
            android:exported="false" />
        <activity
            android:name=".transfer.TransferEnterAccountNumberActivity"
            android:exported="false" />
        <activity
            android:name=".transfer.TransferMoneyAmountActivity"
            android:exported="true" />
        <activity
            android:name=".managePay.RegisterAccountCheckPwdActivity"
            android:exported="false" />
        <activity
            android:name=".managePay.RegisterAccountPwdActivity"
            android:exported="true" />
        <activity
            android:name=".transfer.TransferChooseBankActivity"
            android:exported="false" />
        <activity
            android:name=".myInfo.ChangeCheckPwdActivity"
            android:exported="false" />
        <activity
            android:name=".TermsActivity"
            android:exported="false" />
        <activity
            android:name=".transfer.TransferConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".PayHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Signup_Checkpwd"
            android:exported="false"
            android:parentActivityName=".Signup_Pwd" />
        <activity
            android:name=".Signup_Pwd"
            android:exported="false"
            android:parentActivityName=".Signup_Email" />
        <activity
            android:name=".Signup_Email"
            android:exported="true"
            android:parentActivityName=".Signup_Name" />
        <activity
            android:name=".Signup_Name"
            android:exported="true"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Login_Pwd"
            android:exported="false"
            android:parentActivityName=".Login_Email" />
        <activity
            android:name=".Login_Email"
            android:exported="false"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".myInfo.ChangePwdActivity"
            android:exported="true"
            android:label="@string/title_activity_change_pwd"
            android:theme="@style/Theme.Graduation" />
        <activity
            android:name=".myInfo.MyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".DeletePayActivity"
            android:exported="false" />
        <activity
            android:name=".CheckPayInfoActivity"
            android:exported="false" />
        <activity
            android:name=".AuthWayActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceAgreementActivity"
            android:exported="false"
            android:label="@string/title_activity_service_agreement"
            android:theme="@style/Theme.Graduation" />
        <activity
            android:name=".PayConfirmationActivity"
            android:exported="true" />
        <activity
            android:name=".PayPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".managePay.RegisterChooseBankActivity"
            android:exported="true" />
        <activity
            android:name=".managePay.RegisterAccountConfirmationActivity"
            android:exported="true" />
        <activity
            android:name=".managePay.EditPayActivity"
            android:exported="false" />
        <activity
            android:name=".transfer.TransferActivity"
            android:exported="false" />
        <activity
            android:name=".transfer.TransferPicActivity"
            android:exported="true" />
        <activity
            android:name=".transfer.TransferVoiceActivity"
            android:exported="true" />
        <activity
            android:name=".transfer.TransferCompletedActivity"
            android:exported="true" />
        <activity
            android:name=".PayFingerActivity"
            android:exported="true" />
        <activity
            android:name=".ChoosePayMethodActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />


    </application>

</manifest>